$color-black: #0E0E0E;
$color-white: #FFFFFF;
$color-white-hover:  rgba(255, 255, 255, 0.8);
$color-grey: #6C6C6C;
$color-gold: #C0965C;
$color-gold-hover: rgba(192, 150, 92, 0.8);
$color-light-grey: #BBBBBB;
$color-light-grey-hover: rgba(187, 187, 187, 0.8);
$color-black-bg-nav: #1C1C1B;
$color-white-bg-form-item: rgba(255, 255, 255, 0.1);
$color-white-bg-form-item-focus: rgba(255, 255, 255, 0.2);
$color-red: #CC301B;
$color-black-bg-form-select: #333333;