<nav class="page-nav__wrapper">
    <ul class="page-nav__list">
        <li class="page-nav__item">
            <a href="#" class="page-nav__item-link">Какие преимущества</a>
        </li>
        <li class="page-nav__item">
            <a href="#" class="page-nav__item-link">Что вы получаете</a>
        </li>
        <li class="page-nav__item">
            <a href="#" class="page-nav__item-link">Еще сюрпризы</a>
        </li>
        <li class="page-nav__item">
            <a href="#" class="page-nav__item-link">Оформить карту</a>
        </li>
    </ul>
    <div class="page-nav__contacts">
        @@include("contacts.html")
    </div>
</nav>